# SPDX-FileCopyrightText: 2025 CentroGeo
# SPDX-FileContributor: César Benjamín <cesarbenjamindotnet@gmail.com>
# SPDX-License-Identifier: Apache-2.0
#
# Descripción:
#   Workflow de GitHub Actions para CI/CD del proyecto
#   "SIGIC GeoNode Wrapper" en la rama `develop`.
#   Incluye:
#     - Construcción de imágenes Docker (GeoNode, GeoServer, NGINX)
#     - Publicación en GitHub Container Registry (GHCR)
#     - Despliegue en el servidor de desarrollo usando docker-compose

name: CI/CD - Build & Deploy SIGIC GeoNode Wrapper (develop)

on:
  push:
    branches:
      - develop

env:
  GEONODE_BASE_IMAGE_VERSION: 4.4.x.sigic
  NGINX_BASE_IMAGE_VERSION: 1.25.3-latest
  GEOSERVER_BASE_IMAGE_VERSION: 2.24.4-v2
  GEOSERVER_DATA_BASE_IMAGE_VERSION: 2.24.4-v3

jobs:
  build:
    name: Build SIGIC GeoNode Wrapper image (develop)
    runs-on: [self-hosted, build-develop, sigic-geonode-wrapper]
    environment: develop

    permissions:
      packages: write
      contents: read

    env:
      DOCKER_BUILDKIT: 1

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GHCR_GEOINTSIGIC_PAT }}" | docker login ghcr.io -u geointsigic --password-stdin

      - name: Set variables
        id: vars
        run: |
          echo "owner=centrogeo" >> $GITHUB_OUTPUT
          echo "geonode-image=sigic-geonode-wrapper" >> $GITHUB_OUTPUT
          echo "geoserver-image=sigic-geoserver" >> $GITHUB_OUTPUT
          echo "nginx-image=sigic-nginx" >> $GITHUB_OUTPUT
          echo "sha=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
          echo "branch=develop" >> $GITHUB_OUTPUT

      - name: Build & tag GeoNode Docker image
        run: |
          docker build --no-cache \
            -t ghcr.io/${{ steps.vars.outputs.owner }}/${{ steps.vars.outputs.geonode-image }}:${{ steps.vars.outputs.branch }} \
            -t ghcr.io/${{ steps.vars.outputs.owner }}/${{ steps.vars.outputs.geonode-image }}:${{ steps.vars.outputs.sha }} \
            -f Dockerfile .

      - name: Build & tag GeoServer Docker image
        run: |
          cd docker/geoserver
          docker build --no-cache \
            --build-arg BASE_IMAGE_VERSION=${{ env.GEOSERVER_BASE_IMAGE_VERSION }} \
            -t ghcr.io/${{ steps.vars.outputs.owner }}/${{ steps.vars.outputs.geoserver-image }}:${{ env.GEOSERVER_BASE_IMAGE_VERSION }} \
            -f Dockerfile .
          cd -

      - name: Build & tag NGINX Docker image
        run: |
          cd docker/nginx
          docker build --no-cache \
            --build-arg BASE_IMAGE_VERSION=${{ env.NGINX_BASE_IMAGE_VERSION }} \
            -t ghcr.io/${{ steps.vars.outputs.owner }}/sigic-nginx:${{ env.NGINX_BASE_IMAGE_VERSION }} \
            -f Dockerfile .
          cd -

      - name: Push GeoNode image
        run: |
          docker push ghcr.io/${{ steps.vars.outputs.owner }}/${{ steps.vars.outputs.geonode-image }}:${{ steps.vars.outputs.branch }}
          docker push ghcr.io/${{ steps.vars.outputs.owner }}/${{ steps.vars.outputs.geonode-image }}:${{ steps.vars.outputs.sha }}

      - name: Push GeoServer image
        run: |
            docker push ghcr.io/${{ steps.vars.outputs.owner }}/${{ steps.vars.outputs.geoserver-image }}:${{ env.GEOSERVER_BASE_IMAGE_VERSION }}

      - name: Push NGINX image
        run: |
            docker push ghcr.io/${{ steps.vars.outputs.owner }}/${{steps.vars.outputs.nginx-image}}:${{ env.NGINX_BASE_IMAGE_VERSION }}

  deploy:
    name: Deploy GeoNode Wrapper to dev server
    needs: build
    runs-on: [self-hosted, deploy-develop, sigic-geonode-wrapper]
    environment: develop

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Crear archivo .env desde secret
        run: echo "${{ secrets.GEONODE_ENV_FILE_CONTENT }}" > .env

      - name: Set variables
        id: vars
        run: |
          echo "owner=centrogeo" >> $GITHUB_OUTPUT
          echo "geonode-image=sigic-geonode-wrapper" >> $GITHUB_OUTPUT
          echo "sha=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
          echo "branch=develop" >> $GITHUB_OUTPUT

      - name: Docker login to GHCR
        run: echo ${{ secrets.GHCR_GEOINTSIGIC_PAT }} | docker login ghcr.io -u geointsigic --password-stdin

      - name: Reemplazar imagen en docker-compose-ghcr.yml
        run: |
          sed -i "s|ghcr.io/${{ steps.vars.outputs.owner }}/${{ steps.vars.outputs.geonode-image }}:.*|ghcr.io/${{ steps.vars.outputs.owner }}/${{ steps.vars.outputs.geonode-image }}:${{ steps.vars.outputs.sha }}|g" docker-compose-ghcr.yml

      - name: Docker Compose Down
        run: |
          docker compose -f docker-compose-ghcr.yml down || true

      - name: Docker Compose Up
        run: |
          docker compose --env-file .env -f docker-compose-ghcr.yml up -d --remove-orphans

      - name : Docker Cleanup
        run: docker system prune -af
